body{
    background-color: #3A98B9;
    color: #FFF1DC;
    text-align: center;
}

div{

    margin: 1%;
    padding: 2%;
    /* border: 1px solid #EEEEEE; */
    border-radius: 20px;
}
button{
    background-color: #E8D5C4;
    border: 1px solid #EEEEEE;
    border-radius: 20px;
    padding: 1.2%;
    text-decoration: none
}

.dateCard{
    background-color: black;
     border: 1px solid #EEEEEE;
     margin: 2% auto;
     width: 30%;
     height: 30%;
}

.dateCard img{
width: 20%;
height: 20%;
   
}

.dateCard .dateInfo{
font-size: 12px;
       
    }
