#menu-outer {
	height: 84px;
	background-color: #3A98B9;
}
/*Added a table to organize the footer links horizontally*/
.table { 
	display: table;
	margin: 0 auto;
}
.Footer {
    width: 100%;
    cursor: pointer;
    position: fixed;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    background-color: #3A98B9;
    font-family: "Montserrat", sans-serif;
    font-size: 5vw;
    padding-bottom: 15px;
    box-shadow: 0px 1px 5px black;
    color: white;
    z-index: 100;
  }
  
  @media (max-width: 1000px) {
    .Footer {
      padding-top: 15px;
      font-size: 6.4vw;
    }
  }
/*Added some css styling to the list*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3A98B9;
  display: inline;
  min-width: 696px;
	list-style: none;
	padding-top: 20px;
	}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #08090942;
}
  